<h2>Zustatky uctu</h2>

<% years = year_ends(Transaction.minimum(:realization_date), Date.current).reverse! %>
<% months = month_ends(Transaction.minimum(:realization_date), Date.current).reverse! %>

<table>
  <tr>
    <th>Rok</th>
    <% years.each do |year| %>
        <th colspan=<%= months_in_year(months, year) %>><%= year.strftime("%Y") %></th>
    <% end %>
  </tr>

  <tr>
    <th>Ucet\Mesic</th>
    <% months.each do |month| %>
        <th><%= month.strftime("%m") %></th>
    <% end %>
  </tr>


  <% @accounts.each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <% months.each do |month| %>
            <td><%= account.balance month %></td>
        <% end %>
      </tr>
  <% end %>

  <tr>
    <td><b>CELKEM</b></td>
    <% months.each do |month| %>
        <td><b><%= Account.balance month %></b></td>
    <% end %>

  </tr>

</table>
